@font-face {
    font-family: 'icomoon';
    src: url('~@/assets/fonts/icons/icomoon.eot?cy8qer');
    src: url('~@/assets/fonts/icons/icomoon.eot?cy8qer#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/icons/icomoon.ttf?cy8qer') format('truetype'),
        url('~@/assets/fonts/icons/icomoon.woff?cy8qer') format('woff'),
        url('~@/assets/fonts/icons/icomoon.svg?cy8qer#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ic_group {
    font-size: $fontSize2;

    .path1:before {
        content: "\e992";
    }

    .path2:before {
        content: "\e993";
        margin-left: -1em;
    }

    .path3:before {
        content: "\e994";
        margin-left: -1em;
    }

    .path4:before {
        content: "\e995";
        margin-left: -1em;
    }
}

.icon-ic_calendar {
    font-size: $fontSize2;

    .path1:before {
        content: "\e923";
    }

    .path2:before {
        content: "\e924";
        margin-left: -1em;
    }

    .path3:before {
        content: "\e925";
        margin-left: -1em;
    }

    .path4:before {
        content: "\e926";
        margin-left: -1em;
    }

    .path5:before {
        content: "\e927";
        margin-left: -1em;
    }
}

.icon-ic_date {
    font-size: $fontSize2;

    .path1:before {
        content: "\e946";
    }

    .path2:before {
        content: "\e947";
        margin-left: -1em;
    }

    .path3:before {
        content: "\e948";
        margin-left: -1em;
    }

    .path4:before {
        content: "\e949";
        margin-left: -1em;
    }

    .path5:before {
        content: "\e94a";
        margin-left: -1em;
    }

    .path6:before {
        content: "\e94b";
        margin-left: -1em;
    }

    .path7:before {
        content: "\e94c";
        margin-left: -1em;
    }

    .path8:before {
        content: "\e94d";
        margin-left: -1em;
    }

    .path9:before {
        content: "\e94e";
        margin-left: -1em;
    }

    .path10:before {
        content: "\e94f";
        margin-left: -1em;
    }
}

.icon-ic_search {
    .path1:before {
        content: "\e997";
    }

    .path2:before {
        content: "\e998";
        margin-left: -1em;
    }
}