$fontColor1: #303133;
$fontColor2: #606266;
$fontColor3: #909399;
$fontColor4: #dcdfe6;
$fontColor5: #ebecf0;

$fontSize1: 32px;
$fontSize2: 24px;
$fontSize3: 20px;
$fontSize4: 18px;
$fontSize5: 16px;
$fontSize6: 14px;
$fontSize7: 12px;

$mainColor1: #f0734d;
$uiColor1: #f44336;
$uiColor2: #cb0e00;
$uiColor3: #00c887;

$groupColor1: #f56c89;
$groupColor2: #21ddb8;
$groupColor3: #8c54ff;
$groupColor4: #f0b048;
$groupColor5: #77a6e7;

$borderColor1: #dcdfe6;

html,
body {
    input[type="text"] {
        border: 1px solid $borderColor1;
        border-radius: 24.5px;
        font-size: $fontSize7;
        line-height: 24px;
        width: 100%;
        box-sizing: border-box;
        padding: 8px;


        &::placeholder {
            color: $fontColor3;
        }
    }

    input[type="checkbox"] {
        display: none;

        &+label {
            &::before {
                margin: 0;
                font-family: 'icomoon' !important;
                content: '\e933';
                display: inline-block;
                border: 2px solid $borderColor1;
                font-size: 20px;
                width: 24px;
                height: 24px;
                border-radius: 2px;
                box-sizing: border-box;
                margin-right: 16px;
                color: rgba(255, 255, 255, 0);
            }
        }

        &:checked+label {
            &::before {
                color: #ffffff;
                border-color: $mainColor1;
                background: $mainColor1;
            }
        }
    }

    button {
        border: 0 none;
        background: none;
        cursor: pointer;
        font-family: "manrope3";
        padding: 0;

        &.all-checkbox {
            &::before {
                margin: 0;
                font-family: 'icomoon' !important;
                content: '\e933';
                display: inline-block;
                border: 2px solid $borderColor1;
                font-size: 20px;
                width: 24px;
                height: 24px;
                border-radius: 2px;
                box-sizing: border-box;
                margin-right: 16px;
                color: rgba(255, 255, 255, 0);
            }
        }
    }
}