$fontColor1: #303133;
$fontColor2: #606266;
$fontColor3: #909399;
$fontColor4: #dcdfe6;
$fontColor5: #ebecf0;

$fontSize1: 32px;
$fontSize2: 24px;
$fontSize3: 20px;
$fontSize4: 18px;
$fontSize5: 16px;
$fontSize6: 14px;
$fontSize7: 12px;

$mainColor1: #f0734d;
$uiColor1: #f44336;
$uiColor2: #cb0e00;
$uiColor3: #00c887;

$groupColor1: #f56c89;
$groupColor2: #21ddb8;
$groupColor3: #8c54ff;
$groupColor4: #f0b048;
$groupColor5: #77a6e7;

$borderColor1: #dcdfe6;